import { Switch, Route } from 'react-router-dom';
import React from 'react';

__imports__

export default class Router extends React.Component {
    render() {
        return (
            <Switch>
__routelist__
            </Switch>
        );
    }
}