import { Switch, Route } from 'react-router-dom';
import React from 'react';

import FourOFour from './components/FourOFour';

__imports__

export default class Router extends React.Component {
    render() {
        return (
            <Switch>
__routelist__
                <Route path="/:page" render={props => <FourOFour />} />
            </Switch>
        );
    }
}