import React from 'react';
import { Remarkable } from 'remarkable';
import  { Link } from 'react-router-dom';

export default class __classname__ extends React.Component {
    constructor(props) {
        super(props);
        this.md = `__md__`;
        this.tags = __tags__;
        this.title = "__title__";
        const md = new Remarkable();
        this.state = {
            innerHtml: {
                __html: md.render(decodeURIComponent(this.md))
            }
        };
    }
    componentDidMount() {
        window.Prism.highlightAll();
    }

    render() {
        return (
            <div className="__classname__ PageContent">
                <div className="Title">{this.title}</div>
                <div className="ContentBody" dangerouslySetInnerHTML={this.state.innerHtml}></div>
                <Link className="HomeButton" to="/">Home</Link>
            </div>
        );
    }
}